body {
  background-color: blanchedalmond;
  color: #333;
}

ul {
  list-style-type: disc;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: blue;
}

a:visited {
  color: purple;
}

a:hover,
a:focus {
  color: dodgerblue;
  background-color: gold;
}

a:active {
  color: crimson;
}

table,
tr,
th,
td,
caption {
  border: 1px solid #333;
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}
